@import "tailwindcss";

body {
  background-color: #111827; /* bg-gray-900 */
  color: #f3f4f6; /* text-gray-100 */
  font-family: var(--font-sans);
}

/* Customizaciones para Formularios */
button,
.btn {
  @apply rounded px-4 py-2 transition duration-200 font-medium;
}

input,
textarea,
select {
  @apply rounded bg-gray-800 border border-gray-700 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent text-white;
}
